.grid__items {
  flex-basis: calc(100% / 2 -2rem);
  flex-grow: 1;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem;

  &--group {
    position: relative;
  }

  &--images {
    display: flex;
    max-height: 15rem;
  }

  &--text {
    position: absolute;
    top: 0;
    left: 10%;
    padding: 0.5rem;
    background: $c-test;
  }

}


.grid__items--images:hover {
  background: $c-topnav;
}
