.section {
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.myprojects {
  font-weight: bold;
  text-align: center;
}

.grid__item {
  flex-basis: calc(100% / 2 -2rem);
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


  &--left {
    padding: 1rem;
    max-width: 30rem;
  }

  &--words {
    max-width: 100%;
  }

  &--pic {
    max-width: 25rem;
    max-height: 20rem;
  }
}
